/* Base Bootstrap */
@import "~bootstrap/scss/bootstrap";
/* Bootstrap icons */
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* D-DIN font */
@font-face {
  font-family: "D-DIN";
  src: url("fonts/D-DIN.woff2") format("woff2"),
  url("fonts/D-DIN.woff") format("woff"),
  url("fonts/D-DIN.ttf") format("truetype"),
  url("fonts/D-DIN.otf") format("opentype");
}

@font-face {
  font-family: "D-DIN Bold";
  src: url("fonts/D-DIN-Bold.woff2") format("woff2"),
  url("fonts/D-DIN-Bold.woff") format("woff"),
  url("fonts/D-DIN-Bold.ttf") format("truetype"),
  url("fonts/D-DIN-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "D-DIN Italic";
  src: url("fonts/D-DIN-Italic.woff2") format("woff2"),
  url("fonts/D-DIN-Italic.woff") format("woff"),
  url("fonts/D-DIN-Italic.ttf") format("truetype"),
  url("fonts/D-DIN-Italic.otf") format("opentype");
  font-style: italic;
}

/* Main styles */
td {
  font-family: 'D-DIN', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

th {
  font-family: 'D-DIN', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bold;
  white-space: nowrap;
}

.din-italic {
  font-family: "D-DIN Italic", sans-serif;
  font-style: italic;
}

.spx-page-title {
  font-family: 'D-DIN', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bold;
  white-space: nowrap;
  font-size: xx-large;
  border-bottom: #aaa 2px solid;
  margin-bottom: 1em;
}

.spx-page-footer {
  font-family: 'D-DIN', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: medium;
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: #222 1px solid;
}